<div class="page-width arisit-brand-container">

    <h2 class="section-header__title">{{ section.settings.brand-row-title }}</h2>
                <div class="arisit-brand-row">
                    {% for block in section.blocks %}
                        {% if block.settings.image and block.settings.arisit-brand-text != blank %}
                    <div class="arisit-brand-item">
                       
    
                        <img src="{{block.settings.image | img_url: 'master' }}" class="arisit-brand-logo">
    
                         
                         
                        <span class="arisit-brand-text"> {{ block.settings.arisit-brand-text }}</span>
                        <a class="brand-buttons" href="{{ block.settings.brand-btn-link }}" target="_blank">
                            {{ block.settings.brand-shop-btn }}
                        </a>
                    </div>
                {% endif %}
        {% endfor %}
                </div>
            </div>
    
    {% schema %}
    {
        "name": "Brands",
        "settings":[
            {
            "type": "text",
            "id":"brand-row-title",
            "label":"Row Title"
        }
        ],
        "blocks": [
                    {
                    "type":"arisit-brands",
                    "name":"Brand",
                    "settings":[
                        {
                        "type":"image_picker",
                        "id":"image",
                        "label":"Logo"
                        },
                        {
                        "type":"textarea",
                        "id":"arisit-brand-text",
                        "label":"Text"
                        },
                        {
                        "id": "brand-btn-link",
                        "type": "url",
                        "label": "Button URL"
                        },
                        {
                        "id": "brand-shop-btn",
                        "type": "text",
                        "label": "Button name"
                        }
                    ]}
        
                  ],
        "presets":[
            {
            "name":"Arisit Brands",
            "category":"Brands"}
        ]}
        {% endschema %}
    
        {% style %}
        
        .arisit-brand-container{
            margin-top: 60px;
        }
    
        .brand-row-title{
            font-size:25px;
            font-weight:bold;
            color:#20447E;
            /* text-align:center; */
            margin-left:15px;
        }
    
        .arisit-brand-row{
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:flex-start;
            flex-wrap:wrap;
             /* border: 1px solid black; */
        }
    
        .arisit-brand-item{
            display:flex;
            flex-direction:column;
            justify-content: space-between;
            height:300px;
            max-width:250px;
            border: 2px solid #E5E5E5;
            border-radius: 10px;
            margin: 20px 10px 0 0;.
            flex-wrap:wrap;
            transition: 0.3s ease;
            /* flex: 1 0 21%; */
    
        }
    
      
        .arisit-brand-logo{
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%;
            text-rendering: optimizeSpeed;
            font-weight: 400;
            text-align: center;
            color: var(--colorTextBody);
            box-sizing: border-box;
            border: 0 none;
            /* max-width: 100%; */
            opacity: 1;
            transition: opacity 0.4s ease;
            margin: 5PX 10px 5px 10px;
            display: block;
            /* width: 100%;  */
            height: 80px;
        } 
    
        .arisit-brand-text{
            font-size:16px;
            margin: 0 10px 0 10px;
            text-align:justify;
        }
    
        .brand-buttons{
           
            background: #2F4E82;
            color: white;
            /* border: 1px solid black; */

             
            /* background: white;
            color: white; */
           
    
            padding: 11px 20px;
            margin:10px;
            
            /* width: 100%; */
             
            min-width: 90px;
            line-height: 1.42;
            font-size: 16px;
           
            text-align: center;
            cursor: pointer;
            transition: transform .1s;
            
            -webkit-user-select: none;
            user-select: none; 
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 5px;
            /* border: none; */
    
            text-transform:uppercase;
    
        }
        
        .arisit-brand-item:hover{
            border: 2px solid #2F4E82;
        }

        .brand-buttons:hover{
            /* background:white; */
            color:white;        
            /* transform: scale(1.05); (zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            /* transition: 0.5s ease; */
            /* border: 1px solid rgba(0,0,0,0);  this makes div jump*/
            /* box-shadow: 0 0 0 1px red; */
            }
        }
    
        @media screen and (max-width: 599px){
            .arisit-brand-item{
                margin: 20px 0 0 0;
        }
        
        }

        @media screen and (max-width: 599px) {
        .arisit-brand-row{
            justify-content:center;
            }
            
            .arisit-brand-container{
            margin-top: 30px;
        }
        }

        {% endstyle %}